%div
  %h1
    GitLab
    社区版
    - if user_signed_in?
      %span= Gitlab::VERSION
      %small= Gitlab::REVISION
      = version_status_badge
  %p.slead
    GitLab 是用于代码协作的开源软件。
    %br
    细粒度访问控制管理 git 仓库以保证代码安全。
    %br
    使用合并请求进行代码审查并加强团体合作。
    %br
    每个项目均有自己的问题跟踪和维基页面。
    %br
    超过 100,000 的组织在使用 GitLab，GitLab 是最受欢迎的 Git 代码托管解决方案。
    %br
    了解 Gitlab 更多内容请访问 #{link_to promo_host, promo_url, target: '_blank', rel: 'noopener noreferrer'}。
    %br
    需要改进中文翻译，请#{link_to '派生 https://gitlab.com/Fenlly/gitlab-ce 项目', 'https://gitlab.com/Fenlly/gitlab-ce/forks/new'}，
    修改文件后提交#{link_to '合并请求', 'https://gitlab.com/Fenlly/gitlab-ce/merge_requests/new'}。
    - if current_application_settings.help_page_text.present?
      %hr
      = markdown_field(current_application_settings, :help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = markdown(@help_index)
  .col-md-4
    .panel.panel-default
      .panel-heading
        快速帮助
      %ul.well-list
        %li= link_to '查看我们的网站获取帮助', promo_url + '/getting-help/'
        %li= link_to '使用页面顶部的搜索功能', '#', onclick: 'Shortcuts.focusSearch(event)'
        %li= link_to '键盘快捷键', '#', onclick: 'Shortcuts.toggleHelp()'
        %li= link_to '获取技术支持订阅', 'https://about.gitlab.com/pricing/'
        %li= link_to '比较 GitLab 版本', 'https://about.gitlab.com/features/#compare'
