- @no_container = true
- page_title "#{@build.name} (##{@build.id})", "作业"
= render "projects/pipelines/head"

%div{ class: container_class }
  .build-page
    = render "header"

    - if @build.stuck?
      - unless @build.any_runners_online?
        .bs-callout.bs-callout-warning
          %p
            - if no_runners_for_project?(@build.project)
              此作业被卡住，因为没有任何活动runnner指定给该项目。
            - elsif @build.tags.any?
              此作业被卡住，因为没有任何该项目指定标签的 runner 在线。指定的标签如下：
              - @build.tags.each do |tag|
                %span.label.label-primary
                  = tag
            - else
              此作业被卡住，因为没有任何活动的 runner 能运行此构建。

            %br
            转到
            = link_to namespace_project_runners_path(@build.project.namespace, @build.project) do
              Runners 页面

    - if @build.starts_environment?
      .prepend-top-default
        .environment-information
          - if @build.outdated_deployment?
            = ci_icon_for_status('success_with_warnings')
          - else
            = ci_icon_for_status(@build.status)

          - environment = environment_for_build(@build.project, @build)
          - if @build.success? && @build.last_deployment.present?
            - if @build.last_deployment.last?
              这是最新部署到 #{environment_link_for_build(@build.project, @build)} 的作业。
            - else
              这个部署到 #{environment_link_for_build(@build.project, @build)} 的作业已经过期。
              查看最新的部署 #{deployment_link(environment.last_deployment)} 。
          - elsif @build.complete? && !@build.success?
            这个作业没有成功部署到 #{environment_link_for_build(@build.project, @build)} 。
          - else
            这个作业将会部署到 #{environment_link_for_build(@build.project, @build)}
            - if environment.try(:last_deployment)
              并且将替换掉其 #{deployment_link(environment.last_deployment, text: '最新的部署')}

    .prepend-top-default
      - if @build.erased?
        .erased.alert.alert-warning
          - if @build.erased_by_user?
            作业被 #{link_to(@build.erased_by_name, user_path(@build.erased_by))} 于 #{time_ago_with_tooltip(@build.erased_at)} 删除
          - else
            作业已经于 #{time_ago_with_tooltip(@build.erased_at)} 被删除
      - else
        #js-build-scroll.scroll-controls
          .scroll-step
            %a.scroll-link.scroll-top{ href: '#up-build-trace', id: 'scroll-top', title: '滚动到顶部' }
              = custom_icon('scroll_up')
              = custom_icon('scroll_up_hover_active')
            %a.scroll-link.scroll-bottom{ href: '#down-build-trace', id: 'scroll-bottom', title: '滚动到底部' }
              = custom_icon('scroll_down')
              = custom_icon('scroll_down_hover_active')
          - if @build.active?
            .autoscroll-container
              %span.status-message#autoscroll-status{ data: { state: 'disabled' } }
                %span.status-text 启用自动滚动
                %i.status-icon
                  = custom_icon('scroll_down_hover_active')
        #up-build-trace
        %pre.build-trace#build-trace
          .js-truncated-info.truncated-info.hidden<
            显示最后
            %span.js-truncated-info-size.truncated-info-size><
            KiB 的日志 -
            %a.js-raw-link.raw-link{ :href => raw_namespace_project_build_path(@project.namespace, @project, @build) }>< 完全原始的
          %code.bash.js-build-output
          .build-loader-animation.js-build-refresh

        #down-build-trace

  = render "sidebar"

.js-build-options{ data: javascript_build_options }
