.gitlab-promo
  = link_to '主页', promo_url
  = link_to "中文", "https://gitlab.com/Fenlly/gitlab-ce"
  = link_to '博客', promo_url + '/blog/'
  = link_to '@gitlab', 'https://twitter.com/gitlab'
  = link_to '需求', 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#feature-proposals'
