- if issuable.is_a?(Issue)
  #js-vue-sidebar-assignees{ data: { field: "#{issuable.to_ability_name}[assignee_ids]" } }
- else
  .sidebar-collapsed-icon.sidebar-collapsed-user{ data: { toggle: "tooltip", placement: "left", container: "body" }, title: (issuable.assignee.name if issuable.assignee) }
    - if issuable.assignee
      = link_to_member(@project, issuable.assignee, size: 24)
    - else
      = icon('user', 'aria-hidden': 'true')
  .title.hide-collapsed
    指派
    = icon('spinner spin', class: 'hidden block-loading', 'aria-hidden': 'true')
    - if can_edit_issuable
      = link_to '编辑', '#', class: 'edit-link pull-right'
  .value.hide-collapsed
    - if issuable.assignee
      = link_to_member(@project, issuable.assignee, size: 32, extra_class: 'bold') do
        - if !issuable.can_be_merged_by?(issuable.assignee)
          %span.pull-right.cannot-be-merged{ data: { toggle: 'tooltip', placement: 'left' }, title: '不允许合并' }
            = icon('exclamation-triangle', 'aria-hidden': 'true')
        %span.username
          = issuable.assignee.to_reference
    - else
      %span.assign-yourself.no-value
        未指派
        - if can_edit_issuable
          \-
          %a.js-assign-yourself{ href: '#' }
            指派给您自己

.selectbox.hide-collapsed
  - issuable.assignees.each do |assignee|
    = hidden_field_tag "#{issuable.to_ability_name}[assignee_ids][]", assignee.id, id: nil

  - options = { toggle_class: 'js-user-search js-author-search', title: '指派给', filter: true, dropdown_class: 'dropdown-menu-user dropdown-menu-selectable dropdown-menu-author', placeholder: '搜索用户', data: { first_user: (current_user.username if current_user), current_user: true, project_id: (@project.id if @project), author_id: issuable.author_id, field_name: "#{issuable.to_ability_name}[assignee_ids][]", issue_update: issuable_json_path(issuable), ability_name: issuable.to_ability_name, null_user: true } }

  - title = '选择指派'

  - if issuable.is_a?(Issue)
    - unless issuable.assignees.any?
      = hidden_field_tag "#{issuable.to_ability_name}[assignee_ids][]", 0, id: nil
    - options[:toggle_class] += ' js-multiselect js-save-user-data'
    - data = { field_name: "#{issuable.to_ability_name}[assignee_ids][]" }
    - data[:multi_select] = true
    - data['dropdown-title'] = title
    - data['dropdown-header'] = '指派'
    - data['max-select'] = 1
    - options[:data].merge!(data)

  = dropdown_tag(title, options: options)
