- @no_container = true
- page_title       @milestone.title, "里程碑"
- page_description @milestone.description
= render "shared/mr_head"

%div{ class: container_class }
  .detail-page-header.milestone-page-header
    .status-box{ class: status_box_class(@milestone) }
      - if @milestone.closed?
        已关闭
      - elsif @milestone.expired?
        已过期
      - elsif @milestone.upcoming?
        近期
      - else
        打开
    .header-text-content
      %span.identifier
        %strong
          里程碑
      - if @milestone.due_date || @milestone.start_date
        = milestone_date_range(@milestone)
    .milestone-buttons
      - if can?(current_user, :admin_milestone, @project)
        - if @milestone.active?
          = link_to '关闭里程碑', namespace_project_milestone_path(@project.namespace, @project, @milestone, milestone: {state_event: :close }), method: :put, class: "btn btn-close btn-nr btn-grouped"
        - else
          = link_to '重新打开里程碑', namespace_project_milestone_path(@project.namespace, @project, @milestone, milestone: {state_event: :activate }), method: :put, class: "btn btn-reopen btn-nr btn-grouped"

        = link_to edit_namespace_project_milestone_path(@project.namespace, @project, @milestone), class: "btn btn-grouped btn-nr" do
          编辑

        = link_to namespace_project_milestone_path(@project.namespace, @project, @milestone), data: { confirm: '确定删除吗？' }, method: :delete, class: "btn btn-grouped btn-danger" do
          删除

      %a.btn.btn-default.btn-grouped.pull-right.visible-xs-block.js-sidebar-toggle{ href: "#" }
        = icon('angle-double-left')

  .detail-page-description.milestone-detail
    %h2.title
      = markdown_field(@milestone, :title)
    %div
      - if @milestone.description.present?
        .description
          .wiki
            = markdown_field(@milestone, :description)

  - if can?(current_user, :read_issue, @project) && @milestone.total_items_count(current_user).zero?
    .alert.alert-success.prepend-top-default
      %span 指派一些问题到此里程碑。
  - elsif @milestone.complete?(current_user) && @milestone.active?
    .alert.alert-success.prepend-top-default
      %span 本里程碑的全部问题和合并请求都已关闭，可以选择关闭本里程碑。

  = render 'shared/milestones/tabs', milestone: @milestone
  = render 'shared/milestones/sidebar', milestone: @milestone, project: @project, affix_offset: 153
