.pipeline-graph-container
  .row-content-block.build-content.middle-block.pipeline-actions
    .pull-right
      - if can?(current_user, :update_pipeline, pipeline.project)
        - if pipeline.builds.latest.failed.any?(&:retryable?)
          = link_to "重试", retry_namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), class: 'js-retry-button btn btn-grouped btn-primary', method: :post

        - if pipeline.builds.running_or_pending.any?
          = link_to "取消运行", cancel_namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), data: { confirm: '确定要取消运行？' }, class: 'btn btn-grouped btn-danger', method: :post

    .oneline.clearfix
      - if defined?(pipeline_details) && pipeline_details
        流水线
        = link_to "##{pipeline.id}", namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), class: "monospace"
        包含
        = pluralize pipeline.statuses.count(:id), '个作业', '个作业'
        - if pipeline.ref
          来自
          = link_to pipeline.ref, namespace_project_commits_path(pipeline.project.namespace, pipeline.project, pipeline.ref), class: "monospace"
        - if defined?(link_to_commit) && link_to_commit
          的提交
          = link_to pipeline.short_sha, namespace_project_commit_path(pipeline.project.namespace, pipeline.project, pipeline.sha), class: "monospace"
        - if pipeline.duration
          持续了
          = time_interval_in_words pipeline.duration

  .row-content-block.build-content.middle-block.js-pipeline-graph.hidden
    = render "projects/pipelines/graph", pipeline: pipeline

- if pipeline.yaml_errors.present?
  .bs-callout.bs-callout-danger
    %h4 在您的 .gitlab-ci.yml 文件中发现错误：
    %ul
      - pipeline.yaml_errors.split(",").each do |error|
        %li= error
    您可以在 #{link_to "Lint", ci_lint_path} 验证您的 .gitlab-ci.yml 文件。

- if pipeline.project.builds_enabled? && !pipeline.ci_yaml_file
  .bs-callout.bs-callout-warning
    这个提交没有 \.gitlab-ci.yml 文件

.table-holder.pipeline-holder
  %table.table.ci-table.pipeline
    %thead
      %tr
        %th 状态
        %th 作业 ID
        %th 名称
        %th
        %th 覆盖率
        %th
    = render partial: "projects/stage/stage", collection: pipeline.stages, as: :stage
