- @no_container = true
- page_title "分支"
= render "projects/commits/head"

%div{ class: container_class }
  .top-area.adjust
    .nav-text
      保护分支可以在中
      = link_to '项目设置', namespace_project_protected_branches_path(@project.namespace, @project)
      进行管理

    .nav-controls
      = form_tag(filter_branches_path, method: :get) do
        = search_field_tag :search, params[:search], { placeholder: '按分支名称过滤', id: 'branch-search', class: 'form-control search-text-input input-short', spellcheck: false }

      .dropdown.inline>
        %button.dropdown-menu-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
          %span.light
            = branches_sort_options_hash[@sort]
          = icon('chevron-down')
        %ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
          %li.dropdown-header
            Sort by
          - branches_sort_options_hash.each do |value, title|
            %li
              = link_to title, filter_branches_path(sort: value), class: ("is-active" if @sort == value)

      - if can? current_user, :push_code, @project
        = link_to namespace_project_merged_branches_path(@project.namespace, @project), class: 'btn btn-inverted btn-remove has-tooltip', title: "删除所有已合并到 '#{@project.repository.root_ref}' 的分支", method: :delete, data: { confirm: "已合并的分支被删除后将无法恢复，确定要继续？", container: 'body' } do
          删除已合并分支
        = link_to new_namespace_project_branch_path(@project.namespace, @project), class: 'btn btn-create' do
          新建分支

  - if @branches.any?
    %ul.content-list.all-branches
      - @branches.each do |branch|
        = render "projects/branches/branch", branch: branch
    = paginate @branches, theme: 'gitlab'
  - else
    .nothing-here-block 没有分支可以显示
